@model IQueryable<Concessions.Web.Models.Concession>
@{
    ViewBag.Title = "Concessions Portal - Configurations";
}

<h2 class="alt">ETL Configurations [ @Html.ActionLink("Manage", "ManageConfigurations") ] [ @Html.ActionLink("Add Concession", "AddConcession") ]</h2>

<ul>
    @foreach(var concession in Model) {
        <li>@Html.ActionLink(concession.Name + " - " + concession.Description, "Show", "Configuration", new { id = concession.Name }, null)</li>
    }    
</ul>


